* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
  }
  body{
    width: 100%;
    overflow: auto;
  }
  a {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 100px;
    font-size: 5vmin;
  }
  @media screen and (max-width: 900px) {
    nav{
      font-size: 2.6vmin;
      padding-left: 3%;
    }
    .pro{
      margin-top: 50px;
      margin-left: 50px;
    }
    #logo{
      display:flex;
      margin-top: 50%;
    }
    .insta{
      left:-4%
    }
    .link{
      left:-2%;
    }

  }
  .pro{
    max-height: 25vw;
    left: 60%;
    position: absolute;
    top:28%;
    border-radius: 50%;
  }

  nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px; 
  }
  nav ul li a {
    color: #1d1d24;
    position: relative;
    padding: 5px 0;
  }
  nav ul li a:hover {
    color: #fd4766;
  }
  nav ul li a:after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 3px;
    background: #fd4766;
    transition: 0.3s;
    bottom: 0;
  }
  nav ul li a:hover:after {
    width: 100%;
  }

  .content {
    position: absolute;
    top: 35%;
    left: 8%;
    height: auto;
    width: 85%;
  }
  .content .title {
    color: #0a0a0a;
    font-size: 4vmin;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: inline-block;
    margin-bottom: 20px;
    padding-left: 5px;
    background: linear-gradient(
      120deg,
      #1c99fe 20.69%,
      #7644ff 50.19%,
      #fd4766 79.69%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .content h1 {
    color: #1f1f25;
    font-size: 4vmax;
    font-weight: 900;
    line-height: 90px;
    text-transform: inherit;
    width: 70%;
  }
  .content h1 span {
    color: red;
  }
  .content p {
    width: 80vmin;
    color: #202020;
    margin-top: 25px;
    margin-bottom: 50px;
    text-align: justify;
    font-size: 3vmin;
  }